<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp-
				%msg%n</pattern>
		</encoder>
	</appender>
	<logger nmae="org.springframework.context" level="info" />
	<logger nmae="org.springframework.jdbc" level="debug" />
	<logger nmae="org.springframework.mapper" level="debug" />

<!-- SQL 로그 출력을 위한 설정 추가 시작-->
	<logger name="jdbc.sqlonly" additivity="false"> 
		<level value="info"/> 
		<appender-ref ref="console"/> 
	</logger>
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="warn" />
		<appender-ref ref="console"/> 
	</logger>
	<logger name="jdbc.audit" additivity="false"> 
		<level value="warn"/>  
		<appender-ref ref="console"/> 
	</logger> 

	<logger name="jdbc.resultset" additivity="false">
		<level value="warn" />
		<appender-ref ref="console"/> 
	</logger>

	<logger name="jdbc.resultsettable" additivity="false"> 
		<level value="info"/>  
		<appender-ref ref="console"/> 
	</logger> 
<!-- SQL 로그 출력을 위한 설정 추가 끝 -->


	<root level="info">
		<appender-ref ref="STDOUT" />

	</root>
</configuration>